.g-login {
  background-color: #f3f4f6;
  min-height: 100dvh;
  display: flex;
}

.g-login__card {
  background-color: #ffffff;
  max-width: 360px;
  padding: 3rem 2rem 2rem;
  margin: auto;
  width: 100%;
  box-shadow: 0px 0px 3px rgba(3, 7, 18, 0.02),
    0px 0px 12px rgba(3, 7, 18, 0.04);
  border-radius: 1rem;
}

.g-login__card__logo {
  margin-inline: auto;
  display: block;
  margin-bottom: 2rem;
  max-width: 12rem;
  width: 100%;
}
