DB_USER=postgres
DB_HOST=localhost
DB_NAME=my-ginko-server
DB_PASSWORD=postgres
DB_PORT=5432

DB_URL=postgres://postgres:postgres@localhost:5432/my-ginko-server

PORT=8000

SECRET_KEY=very_sekreet_b0ss